{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Symbol" type="text">
        </div>
        <p style="color: red;">{{ buyerr }}</p>
        <div class="form-group">
            <input class="form-control" name="shares" placeholder="Shares" type="number">
        </div>
        <p style="color: red;">{{ message }}</p>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
